<nav id="nav-bar">
    <ul>
      <li class="<%-title==='About'? 'active': '' %>"?><a href="/about">About</a></li>
      <li class="<%-title==='ProjectMe'? 'active': '' %>"?><a href="/" >ProjectMe</a></li>
      <li class="<%-title==='Categories'? 'active': '' %>"?><a href="/categories">Categories</a></li>
      <li class="<%-title==='Posts'? 'active': '' %>"?><a href="/Posts">Posts</a></li>
      <%if(user){%>
          <li class="<%-title==='ProjectMe'? 'Profile': '' %>"?><a href="/user"><span id="blue">Profile</span></a></li>
      <%}%>
  
    </ul>
  </nav>