<nav id="nav-bar">
    <ul>
      <li class="<%-title==='About'? 'active': '' %>"?><a href="/about">About</a></li>
      <li class="<%-title==='ProjectMe'? 'active': '' %>"?><a href="/" >ProjectMe</a></li>
      <li class="<%-title==='Categories'? 'active': '' %>"?><a href="/categories">Categories</a></li>
      <li class="<%-title==='Posts'? 'active': '' %>"?><a href="/Posts">Posts</a></li>
      <%if(user){%>
          <li class="<%-title==='ProjectMe'? 'Profile': '' %>"?><a href="/user"><span id="blue">Profile</span></a></li>
      <%}%>
        <div class="seach">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <form action="" id="search-form" method="get">
          <input type="search" id="search-bar-input" name="search">
          <i class="fa fa-search"></i>
        </form>
      </div>
  
    </ul>
  </nav>
  