<%if(user){%>
<%posts.forEach(post=>{%>
    <section class="post" data-id="<%=post._id%>">
      <div id="author-profile">
        <div id="author-profile-pic">
          <img src="<%=post.username.toObject().avatar%>" class="user-profile-pic"/>  
        </div>
        <h3>          
          <a href="/posts/<%=post.id%>/author"><%=post.username.toObject().username%></a>                    
        </h3>              
      </div>
      <p class="post-p">
        <%=post.content%>
      </p>
      <div class="post-content">
        <div class="post-title">
          <h2><%=post.title%></h2>
        </div>
        <div class="post-footer">
          <span class="category-tag">
            <%=post.category%>
          </span>
          <%if(user){%>
            <%if(post.username.toObject().googleId===user.googleId){%>
              <button class="comment-button" data-id="<%=post._id%>">
                <%if(post.comments.length>1){%>
                  View <%=post.comments.length%> Comments
                <%}else if(post.comments.length === 1){%>
                  View <%=post.comments.length%> Comment
                <%}else{%>
                  Comment
                <%}%>
              </button>
              <form class="like-form" action="/posts/<%=post._id%>" method="POST">
                <button type="submit" class="like-button like-button-bottomed">
                <%if(post.likedBy.includes(user._id)){%>
                  Unlike - <%=post.likedBy.length%>
                <%}else{%>
                    Like - <%=post.likedBy.length%>
                <%}%>
                </button>
              </form>
            <button type="submit" class="edit-button">Edit</button>  
            <form class="delete-form"action="/posts/<%=post._id%>?_method=DELETE" method="POST">
              <button type="submit" class="delete-button">Delete</button>          
            </form>
            <%}else{%>
              <button class="comment-button comment-button-bottomed" data-id="<%=post._id%>">
                <%if(post.comments.length>1){%>
                  View <%=post.comments.length%> Comments
                <%}else if(post.comments.length === 1){%>
                  View <%=post.comments.length%> Comment
                <%}else{%>
                  Comment
                <%}%>
              </button>
              <form class="like-form" action="/posts/<%=post._id%>" method="POST">
                <button type="submit" class="like-button like-button-bottomed">
                <%if(post.likedBy.includes(user._id)){%>
                  Unlike - <%=post.likedBy.length%>
                <%}else{%>
                    Like - <%=post.likedBy.length%>
                <%}%>
                </button>
              </form>
            <%}%>
        </div>
      <%}else{%>
        <button class="comment-button comment-button-bottomed" data-id="<%=post._id%>">
          <%if(post.comments.length>1){%>
            View <%=post.comments.length%> Comments
          <%}else if(post.comments.length === 1){%>
            View <%=post.comments.length%> Comment
          <%}else{%>
            Comment
          <%}%>
        </button>
      <%}%>
      </div>
    </section>
    <section class="post-comment-wrapper" data-id="<%=post._id%>">
        <form action="/posts/<%=post._id%>/comments" class="comment-form" method="POST">
          <textarea name="commentContent" class="comment-content-input"></textarea>
          <button type="submit" class="comment-post-button">Post</button>
        </form>
        <hr>
        <div class="comments-wrapper">
        <%if(user){%>
            <%if(post.comments){%>
              <%post.comments.forEach(comment=>{%>
                <%if(comment.author===user.username){%>
                  <div class="comment-wrapper">
                    <h2 class="comment-author">
                      
                    </h2>
                    <p class="comment-content">
                    </p>
                    <div class="edit-form-container">
                    </div>
                    <span class="comment-footer">
                      <form action="/posts/<%=post.id%>/comments/<%=comment.id%>" method="POST" class="comment-like-form">
                        <button type="submit" class="comment-like-button">
                        <%if(comment.likedBy.includes(user._id)){%>
                          Unlike - <%=comment.likedBy.length%>
                        <%}else{%>
                            Like - <%=comment.likedBy.length%>
                        <%}%>
                        </button>
                      </form>
                      <button class="comment-edit-button" data-id="<%=comment.id%>">Edit</button>
                      <form action="/posts/<%=post.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                        <button class="comment-delete-button">Delete</button>
                      </form>
                    </span>
                  </div>
                  <%}else{%>
                    <div class="comment-wrapper">
                      <h2 class="comment-author">
                        
                      </h2>
                      <p class="comment-content">
                      </p>
                    </div>
                    <%}%>  
                    <%})%>
                  <%}%>
                  <%}%>
        </div>
    </section>
    <%})%>
  <%}else{%>
<%posts.forEach(post=>{%>
  <section class="post" data-id="<%=post._id%>">
    <div id="author-profile">
      <div id="author-profile-pic">
        <img src="<%=post.username.toObject().avatar%>" class="user-profile-pic"/>  
      </div>
      <h3>
        <a href="/posts/<%=post.id%>/author"><%=post.username.toObject().username%></a>
      </h3>
    </div>
    <p class="post-p">
      <%=post.content%>
    </p>
    <div class="post-content">
      <div class="post-title">
        <h2><%=post.title%></h2>
      </div>
      <div class="post-footer">
        <span class="category-tag">
          <%=post.category%>
        </span>
      <button class="comment-button comment-button-bottomed" data-id="<%=post._id%>">
        <%if(post.comments.length>1){%>
          View <%=post.comments.length%> Comments
        <%}else if(post.comments.length === 1){%>
          View <%=post.comments.length%> Comment
        <%}else{%>
          Comment
        <%}%> 
      </button>
    </div> 
  </section>
  <section class="post-comment-wrapper" data-id="<%=post._id%>">
      <div class="comments-wrapper"> 
          <%if(post.comments){%>
            <%post.comments.forEach(comment=>{%>
                  <div class="comment-wrapper">
                    <h2 class="comment-author">
                      
                    </h2>
                    <p class="comment-content">
                    </p>
                  </div>
                  <%})%>
                <%}%>
      </div>
  </section>
  <%})%>
  <%}%>