<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Raleway|Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Ubuntu&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <header id="top-header-big">
      <h1 id="main-brand-header">ProjectMe &nbsp;<span id="span-in-line">Find your next, perfect project!</span></h1>
      <div id="login-signup-container">
        <a href="/login"><button id="login">Log In</button></a>
        <a href="/signup"><button id="signup">Sign Up</button></a>
      </div>
    </header>
    <div id="message-bar"></div>
    <nav id="nav-bar">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">ProjectMe</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/Posts">Posts</a></li>
        <li><a href="/More">More</a></li>
      </ul>
    </nav>
    <div id="centered-body-container">
      <h1 class="centeredh1"></h1>
      <%posts.forEach(post=>{%>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>
            <%=post.username%>
          </h3>
          <span class="post-time">3 Days Ago</span>
          <p>/<%=post.categories%></p>
          
        </div>
        <p class="post-p">
          <%=post.content%>
        </p>
        <div class="post-content">
          <div class="post-title">
            <h2><%=post.title%></h2>
          </div>
          
          <div class="post-footer">
            <button>Comment</button>
            <button>Like</button>
            
          </div>
          
        </div>
        
      </section>
      <%})%>


    </div>
    
  </body>
</html>
