<%- include('partials/small-header')%>
<%- include('partials/message-bar')%>
<%- include('partials/navbar')%>
<div id="messages-container">
    <div id="thread-list">
        <%threads.forEach(thread=>{%>
            <div id="thread-info-container">
                <%=thread.startUser.username%>
                <%=thread.receivingUser.username%>
            </div>    
        <%})%>
    </div>
    <div id="messages-list">

    </div>
    <form action="/user/threads" method="POST" id="new-thread-form">
        <input type="text" name="name">
        <button type="submit">New Thread</button>
    </form>
</div>