<%- include('partials/small-header')%>
<div id="message-bar"></div>
<%- include('partials/navbar')%>
<div id="user-profile-container">
    <div id="user-profile-about">
        <h1 class="big-header"><%=otherUser.username%></h1>
        
        <div id="img-container">
            <img src="<%=otherUser.avatar%>" class="big-profile-round">

        </div>
   

    </div>
    
    <div id="favorites-container">
        <h1>Favorites</h1>
        <%if(otherUser.favorites){%>
            <%otherUser.favorites.forEach(favorite=>{%>
                <div class="favorite-item">
                    <li><a href="/categories/<%=favorite%>"><%=favorite.split('-').join(' ')%></a></li>
                </div>
            <%})%>
        <%}else{%>
            
            
        <%}%>
    </div>
    <div id="user-profile-main">
        <h1>Recent Posts</h1>
        <hr>
        <%if(posts===[]){%>
            <div class="recent-item">
                No posts yet! Lets fix that! <a href="/">Post</a>
            </div>
        <%}else{%>
        
            <%posts.forEach(post=>{%>
                <div class="recent-item">
                    <a href="/posts/<%=post._id%>"><button class="view-post">View</button></a>
                    
                    <%=post.title%>
                    <span class="cat-separator">
                        //
                        <%=post.category%>
                    </span>
                    <span class="blue-separators">   &nbsp; ➔ &nbsp;</span>
                    <%=post.createdAt.toLocaleTimeString()%>
                    <span class="blue-separators">   &nbsp; ➔ &nbsp;</span>
                    <%=post.createdAt.toDateString()%>
                    <%if(post.createdAt < post.updatedAt){%>
                        <span class="red-separators">   &nbsp; ➔ &nbsp;</span>
                        <%=post.updatedAt.toLocaleTimeString()%>
                        <span class="red-separators">   &nbsp; ➔ &nbsp;</span>
                        <%=post.updatedAt.toDateString()%>
                        <%}%>
                        
                    </div>
            <%})%>
        <%}%>
  
    </div>
    <div id="bio-content-wrapper">
    <%if(otherUser.bio){%>
        <h2>Bio:</h2> <%=otherUser.bio%>
    
    <%}else{%>
        
    <%}%>
       
    </div>
   
</div>